@inject SignInManager<ApplicationUser> signInManager;

@model IEnumerable<Covid19Tracker.Entities.Tracker.CovidCase>

@{
    ViewData["Title"] = "Index";
}

<!-- Begin Page Content -->
    <div class="container-fluid">

        <p class="mb-4">Covid'19 is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the.</p>
        <h1>View All Cases</h1>

        <p>
            <a asp-action="Create">Create New</a>
        </p>


        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Name)</th>
                                <th>@Html.DisplayNameFor(model => model.Age)</th>
                                <th>@Html.DisplayNameFor(model => model.Gender)</th>
                                <th>@Html.DisplayNameFor(model => model.Nationality)</th>
                                <th>@Html.DisplayNameFor(model => model.CaseStatus)</th>
                                <th>@Html.DisplayNameFor(model => model.State)</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Name)</th>
                                <th>@Html.DisplayNameFor(model => model.Age)</th>
                                <th>@Html.DisplayNameFor(model => model.Gender)</th>
                                <th>@Html.DisplayNameFor(model => model.Nationality)</th>
                                <th>@Html.DisplayNameFor(model => model.CaseStatus)</th>
                                <th> @Html.DisplayNameFor(model => model.State)</th>
                                <th></th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Age)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Gender)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nationality)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CaseStatus)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.State)
                                    </td>
                                    <td>
                                        <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-success">Details</a>
                                        @if (signInManager.IsSignedIn(User))
                                        {
                                            <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-warning">Edit</a>  <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Delete</a>
}
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
        
